body{
    background-color: #efefef;
}
.main{
    margin: 30px;
    background-color: white;
}
.btn-publish{
    float: right;
    margin-bottom: 20px;
}
.btn-comment{
    float: right;
    margin: 10px 0px;
}
.media-object{
    width: 38px;
    height: 38px;
}
.text-desc{
    font-size: 12px;
    font-weight: normal;
    color:#999;
}
#pagination{
    float: right;
}
.section{
    margin-top: 15px;
}
.community-menu{
    font-size: 13px;
    color:#999;
}
.jumbotron{
    margin: 30px;
}
.form-control{
    margin-top: 10px;
}
.media-body{
    padding-top: 10px;
}
.comment_sp{
    margin: 0;
}
.list_hr{
    margin-left: 15px;
}
.comment_count{
    margin-left: 15px;
}
.menu .icon{
    margin-left: 6px;
    cursor: pointer;
}
.menu{
    font-size: 16px;
    color: #999;
    margin-top: 7px;
}
.menu .icon:hover{
    color: #499ef3;
}